@model prueba06092022.Models.Productos

@{
    ViewData["Title"] = "Detalles del Producto";
}

     <link rel="stylesheet" href="/css/detalleprod.css" asp-append-version="true" />

<html lang="en">

<head>
  <title>Harvest vase</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
  <center>
  <div class="wrapper">
    <div class="product-img">
      
      <img class="img-responsive" height="420" width="327"
                       src="/images/@Html.DisplayFor(model => model.ImageName)" alt="@Html.DisplayFor(model => model.ImageName)"  />

    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <h2>La mejor calidad en nuestro bazar</h2>
        <p>@Html.DisplayFor(model => model.Descripcion)</p>
        <br>
         
      </div>
       <p><span>S/. <span>@Html.DisplayFor(model => model.Precio)</span></p>
      <div class="product-price-btn">
               
         <button type="button" asp-action="Add" asp-route-id="@Model.Id">Agregar al carrito</button>
      </div>
    </div>
  </div>

</body>

</html>